# SMS Gateway Configuration
PORT=3001
SMS_GATEWAY_BASE_URL=https://api.sms-gate.app/3rdparty/v1

# Optional: Auto-login credentials (if set, will bypass login screen)
SMS_GATEWAY_USERNAME=
SMS_GATEWAY_PASSWORD=

# Optional: Cloud mode (set to "true" to hide logs tab for security)
CLOUD_MODE=false

# Optional: Show inbound webhooks feature (set to "false" to disable and show "Coming Soon!")
SHOW_INBOUND_WEBHOOK=true